<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>626629081333-aesjlqiro5d1iodg9lu9r4m0t8k28pjb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.626629081333-aesjlqiro5d1iodg9lu9r4m0t8k28pjb</string>
	<key>API_KEY</key>
	<string>AIzaSyC1wFKSc_PqfZJ-cik7bI04ooOg6f37K8E</string>
	<key>GCM_SENDER_ID</key>
	<string>626629081333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yxinghang.customLogin</string>
	<key>PROJECT_ID</key>
	<string>customlogin-5c1c5</string>
	<key>STORAGE_BUCKET</key>
	<string>customlogin-5c1c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626629081333:ios:d043c1b1b1ea84df316dbc</string>
	<key>DATABASE_URL</key>
	<string>https://customlogin-5c1c5.firebaseio.com</string>
</dict>
</plist>